* {
  padding: 0;
  margin: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}
button {
  border: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
